{% extends 'base.html' %} {% block head %}
<title>Change Password</title>
{% endblock %} {% block content %}
<!-- /breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'website:index' %}">Home</a>
  </li>
  <li class="breadcrumb-item active">Change Password</li>
</ol>

<!-- //breadcrumb -->

<!--Change Password-->

<div class="center mt-5">
  <div class="form-group row">
    <div class="login px-4 mx-auto mw-100">
      <h5 class="text-center mb-4">Change password</h5>
      <hr />
      <form method="post">
        {% csrf_token %}
        <div class="form">
          {% for element in form %}
          <div class="form-group">
            {% if element.errors %} 
              <div style="color:red ;">    
                {{element.errors}} 
              </div>
            {% endif %} 
            <label class="my-2">{{ element.label }}: </label>
            <br>
                {{ element }} 
            {% if element.help_text %}
                {{element.help_text}} 
            {% endif %}
            <br />
            <hr />
          </div>

          {% endfor %}
          <div class="submit-row">
            <input
              type="submit"
              value="Submit"
              class="btn btn-primary submit mb-4"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--/Change Password-->
{% endblock %}
