{% extends 'base.html' %} 

{% block head %}
<title>Reset Password</title>
{% endblock %}
    

{% block content %}  
    <!-- /breadcrumb -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'website:index' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">Reset Password</li>
    </ol>

    <!-- //breadcrumb -->

<!--Reset Password-->
<div class="center mt-5">
  <div class="form-group row">
    <div class="login px-4 mx-auto mw-100">
      <h5 class="text-center mb-4">Reset Password</h5>
      <hr>
      <p>
        Forgotten your password? Enter your email address below, and we'll email
        instructions for setting a new one.
      </p>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label>Email:</label>
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            required=""
            name="email"
          />
        </div>
        <button type="submit" class="btn btn-primary submit mb-4">
          Send Email
        </button>
      </form>
      <hr>
      <br>
    </div>
  </div>
</div>
{% endblock %}
