{% extends 'base.html' %} 
{% block head %}
<title>Profile</title>
{% endblock %} 
{% block content %}
<!-- /breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'website:index' %}">Home</a>
  </li>
  <li class="breadcrumb-item active">Profile</li>
</ol>
<!-- //breadcrumb -->
<div class="col-md-6 main_grid_contact">
  <div class="form">
    <h4 class="mb-4 text-left">Hello, {{request.user}}</h4>
    <img width="100px" height="100px" src="{{profile.image.url}}" alt="{{profile.user}}">
    <br>
    <hr>
    <form method="post">
      {% csrf_token %} 
      {% for element in form %} 
        {{ element.label }}:
        {{ element }}
        <br>
        <hr>
      {% endfor %}
      <input type="submit" value="Save" />
    </form>
  </div>
</div>

{% endblock %}
