{% extends 'base.html' %} 
{% block head %}
<title>Profile</title>
{% endblock %} 
{% block content %}
<!-- /breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'website:index' %}">Home</a>
  </li>
  <li class="breadcrumb-item active">Profile</li>
</ol>
<!-- //breadcrumb -->
<div class="col-md-6 main_grid_contact">
  <div class="form">
    <h4 class="mb-4 text-left">Hello, {{request.user}}</h4>
    {% if request.user.is_verify %}
    {% if profile.image %}
      <img width="100px" height="100px" src="{{profile.image.url}}" alt="{{profile.user}}">
    {% endif %}
    <br>
    <hr>
    <form method="post">
      {% csrf_token %} 
      {% for element in form %} 
        {{ element.label }}:
        {{ element }}
        <br>
        <hr>
      {% endfor %}
      <input type="submit" value="Save" class="btn btn-primary submit mb-4"/>
    </form>
    <h6>
      <a href="{% url 'accounts:change-password' %}" >Change Password</a>
    </h6>
    <h6>
      <a href="{% url 'accounts:password_reset' %}" >Reset Password</a>
    </h6>
    {% else %}
    <h6>
      Please
      <a href="{% url 'accounts:resend-verify-email' %}" >verify</a>
      your accounts to get full access to site.
    </h6>
    {% endif %}
  </div>
</div>

{% endblock %}
