{% extends 'base.html' %}
{% load static %}
{% load  blog_tags %}
{% load humanize %}

{% block head %} 
    <title>
      {{post.title}}
    </title>
{% endblock %}


{% block content %}
<!-- /breadcrumb -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'website:index' %}">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'blog:index' %}">Blog</a>
      </li>
      <li class="breadcrumb-item active">{{post.title}}</li>
    </ol>
    <!-- //breadcrumb -->
    <section class="banner-bottom-w3layouts py-lg-5 py-md-5 py-3">
      <div class="container">
        <div class="inner-sec-w3ls-agileits py-lg-5 py-3">
          <h3 class="tittle text-center mb-md-5 mb-4">{{post.title}}</h3>
          <div class="row">
            <!--left-->
            <div class="col-lg-8 left-blog-info text-left">
              <div class="blog-grid-top">
                <div class="b-grid-top">
                  <div class="blog_info_left_grid">
                      <img src="{{post.image.url}}" class="img-fluid" alt="{{post.title}}" />
                  </div>
                </div>
                <br>
                <span class="entry-date">Published on : {{ post.published_date }}  ({{post.published_date|naturaltime}})</span>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="entry-date">Author : {{ post.author }}</span>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                {% if post.category %}
                  <span class="entry-date">Categories : </span>
                  {% for cat in post.category.all %}
                    <span class="entry-date"><a style="color: #222222;" href="{% url 'blog:category' cat_name=cat.name %}">{{ cat.name }}</a></span>
                    {% if not forloop.last %}
                      <span class="entry-date">, </span>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {% if request.user.is_authenticated and post.author.user == request.user  %}
                  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <a class="btn btn-outline-dark" href="{% url 'blog:edit-post' pk=post.id %}" role="button">Edit post</a>
                  <a class="btn btn-outline-dark" href="{% url 'blog:delete-post' pk=post.id %}" role="button">Delete post</a>
                {% endif %}
                <hr>
                <h3>
                  <a href="{% url 'blog:single' pk=post.id %}">{{post.title}}</a>
                </h3>
                <p>
                  {{post.content|safe}}
                </p>
              </div>

              <div class="comment-top">
                <h4>Comments</h4>
                {% for comment in comments %}
                <div class="media">
                  <img src="{% static 'images/t1.jpg' %}" alt="" class="img-fluid rounded" />
                  <div class="media-body">
                    <h5 class="mt-0">{{comment.name}}</h5>
                    <p>
                      {{comment.updated_date|naturaltime}}
                      <br>
                      {{comment.message}}                      
                    </p>
                  </div>
                </div>
                {% empty %}
                <div class="media-body">
                  <h5 class="mt-0">No comments yet, be the first!</h5>
                </div>
                {% endfor %}
              </div>
              <br>
              <hr>
              <div class="comment-top">
                <h4>Leave a Comment</h4>
                {% if request.user.is_authenticated %}
                <div class="comment-bottom">
                  <form action="{% url 'blog:comment' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="post" value="{{post.id}}">
                    <input
                      class="form-control"
                      type="text"
                      name="name"
                      placeholder="Name"
                      required=""
                    />
                    <input
                      class="form-control"
                      type="hidden"
                      name="email"
                      placeholder="{{request.user.email}}"
                      required=""
                      value="{{request.user.email}}"
                    />
                    <textarea
                      class="form-control"
                      name="message"
                      placeholder="Your Comment..."
                      required=""
                    ></textarea>
                    <button type="submit" class="btn btn-primary submit">
                      Submit
                    </button>
                  </form>
                </div>
                {% else %}
                <h4>Please Login to comment</h4>
                {% endif %}
              </div>
            </div>

            <!--//left-->
            <!--right-->
            <aside class="col-lg-4 right-blog-con text-right">
              <div class="right-blog-info text-left">
                <a class="btn btn-outline-dark btn-block" href="{% url 'blog:create-post' %}" role="button">
                  Create a new Post
                </a>
                <br>
                <hr>
                {% include 'blog/blog-newsletter.html' %}
                <hr>
                {% categories_tag %}
                <hr>
                {% top_stories_tag %}
                <hr>
                {% recent_post_tag %}
                <hr>
              </div>
            </aside>
            <!--//right-->
          </div>
        </div>
      </div>
    </section>
    <!--/single-->
{% endblock %}